global
    maxconn 50000
    log /dev/null local0
    tune.bufsize 16384

defaults
    mode tcp
    timeout connect 50ms
    timeout client  2001ms
    timeout server  2001ms
    option splice-auto

frontend rinha
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    server api1 /tmp/sockets/api1.sock check inter 200ms rise 1 fall 2
    server api2 /tmp/sockets/api2.sock check inter 200ms rise 1 fall 2
